{% extends "base.html" %}
{% load staticfiles %}

{% block content %}{{ block.super }}

<div class="col-sm-12" style="margin-top: 1em">

<!-- HEADER -->

<h1 class="page-title">{{ event.name }}</h1>

<div class="buttons" style="margin-top: .5em;">

	{% if not user.is_authenticated %}
	 <a class="btn btn-primary" href="{{ login_url }}">
		<i class="fa fa-power-off"></i> Connexion
		</a>
	{% endif %}
	
	 <a class="btn btn-secondary" href="{% url 'rideshare_ride_create' event.slug %}">
		<i class="fa fa-plus"></i> Proposer un nouveau trajet
		</a> 
	
	 <a class="btn btn-secondary" href="mailto:evenements@jeunes-democrates.org?subject=Problème sur le site de coivoiturage">
		<i class="fa fa-question"></i> Aide<!-- TODO : make it better help -->
		</a>
	
</div>

<div style="clear: both;"></div>

<!-- FILTERS -->

{% if user.is_authenticated %}
<hr class="clearfix" />
<div id="ownership-filters" class="buttons">
	<button type="button" data-filter-ownership="" class="btn btn-sm btn-outline-primary ownership-filter active">Tous</button>
	<button type="button" data-filter-ownership="user-is-owner" class="btn btn-sm btn-outline-primary ownership-filter">Mes offres</button>
	<button type="button" data-filter-ownership="user-is-participant" class="btn btn-sm btn-outline-primary ownership-filter">Mes voyages</button>
</div>
{% endif %}

<hr class="clearfix" />
<div id="return-filters" class="buttons">
	<button type="button" data-filter-return="" class="btn btn-sm btn-outline-primary return-filter active">Tous</button>
	<button type="button" data-filter-return="aller" class="btn btn-sm btn-outline-primary return-filter">Allers</button>
	<button type="button" data-filter-return="retour" class="btn btn-sm btn-outline-primary return-filter">Retours</button>
</div>

<hr class="clearfix" />
<div id="region-filters" class="buttons">
	<!-- JS Generated -->
</div>

<hr class="clearfix" />

<div class="ride-container">

	{% for ride in object_list %}
	
	<div class="ride card"
		{% if user.is_staff %}title="Trajet n°{{ ride.pk }}" {% endif %}
		data-user-is-owner={% if ride.owner == user %}"true"{% else %}"false"{% endif %}
		data-user-is-participant={% if user in ride.riders.all %}"true"{% else %}"false"{% endif %}
		data-region="{% if ride.is_return %}{{ ride.stop_set.all.reverse.0.location.region }}{% else %}{{ ride.stop_set.all.0.location.region }}{% endif %}"
		data-return="{% if ride.is_return %}retour{% else %}aller{% endif %}"
		data-status="{% for rider in ride.rider_set.all %}{% if rider.user == user %}{{ rider.status }}{% endif %}{% endfor %}"
		>	


		<div class="card-header">

			<div class="ride__date ride__data-wrapper">
				<div class="ride__weekday ride__data-title">{{ ride.departure_datetime|date:"l" }}</div>
				<div class="ride__monthday ride__data-point">{{ ride.departure_datetime|date:"d b" }}</div>
			</div>

			<div class="ride__remaining-seats ride__data-wrapper">
				<div class="ride__data-title">Sièges restants</div>
				<div class="ride__data-point">
					{% if ride.rider__count == ride.seats %}
					<span class="text-muted">Complet</span>
					{% else %}
					<strong><span
						class="remaining-seats"
						data-rider-count="{{ ride.rider_set.all.count }}"
						data-seats="{{ ride.seats }}"></span></strong>
					<span class="gray"> / {{ ride.seats }}</span>
					{% endif %}
				</div>
			</div>

			<div class="ride__data-wrapper">
				<div class="ride__data-title">Covoitureu·r·se</div>
				<div class="ride__data-point">{{ ride.owner.first_name }} {{ ride.owner.last_name }}</div>
			</div>

			<div class="ride__data-wrapper">
				<div class="ride__data-title">Prix</div>
				<div class="ride__data-point">
					{% if ride.price %}{{ ride.price }} €
					{% else %}<span class="text-muted">Gratuit</span>
					{% endif%}
				</div>
			</div>

			{% comment %}
			<!-- TODO : display arrival date if different from departure -->
			{% if ride.departure_date|date != ride.arrival_date|date %}
			, arrivée le <strong>{{ ride.arrival_datetime|date:"l d F" }}, </strong>
			{% endif %}
			{% endcomment %}

		</div>
	
		<div class="card-block ride__summary">

			<div class="ride__stops">
			{% for stop in ride.stop_set.all %}
				<div class="ride__stop">
					<span class="ride__stop__time">{{ stop.time|time:"H:i" }}</span>
					<span class="ride__stop__locality">{{ stop.location.locality }}</span>
					<span class="ride__stop__location text-muted">{{ stop.location.name }}</span>
				</div>
			{% endfor %}
			</div>

			<div class="ride__interactions">
				<a class="ride__detail" href="{% url 'rideshare_ride_detail' ride.pk %}">
					<i class="fa fa-2x fa-chevron-right"></i> 
				</a>
			</div>

		</div>
	
	</div>

{% endfor %}

</div>

<div class="alert alert-warning no-rides-alert" style="display: none;">
	<i class="fa fa-exclamation-circle"></i>&nbsp; Il n'y a aucun trajet correspondant à cette recherche.
</div>


{% if not object_list %}
<p>Il n'y a pas encore de trajets sur cet évènement.</p>
{% endif %}

</div>

<style>

.page-title { display: inline; }

.gray { color: #818a91; }

.ride .card-header { padding: 0; display: flex; flex-wrap: wrap; }

.ride__data-wrapper:not(:first-child) { border-left: 1px solid #ddd; }
.ride__data-wrapper {
	display: inline-block; line-height: 1.35; text-transform: uppercase;
	border-bottom: 1px solid #ddd; padding: 1em;
	margin-left: -1px; margin-bottom: -1px; /* fusionne les bordures des blocs avec ceux du header de la carte */
}
.ride__data-title { font-size: .8em; color: #818a91; }
.ride__data-point { font-size: 1.1em; }

.ride__monthday { color: #FF6000; font-weight: bold; font-size: 1.5em; margin-top: -.2em; margin-bottom: -.18em; }

.ride__summary { display: flex; padding: 0; align-items: center; }

.ride__stops { width: calc(100% - 4em); } /* Full width minus the ">" button */
.ride__stop { display: flex; align-items: center; margin: .5em 0; }
.ride__stop > span { padding: 0 1em; }
.ride__stop__time { width: 5em; max-width: 20%; }
.ride__stop__locality { width: 10em; max-width: 30%; font-weight: bold; }
.ride__stop__location { max-width: 50%; font-size: .8em; }

.ride__interactions { text-align: center; width: 4em; }
.ride__detail { padding: 1em; }
.ride__price { font-size: 1.6em; text-align: right; margin-bottom: .25em; }

.buttons { line-height: 2; }

</style>

{% endblock content %}



{% block scripts %} {{ block.super }}

<script>

$( document ).ready(function() {

	function $call(url) {
		$.ajax({url: url})
	}
	
	function displayLoadingState($element) {
		$element.html('<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Chargement...')
	}
	
	window.rideshareStore = {
		'regions': [],
		'filters': {
			'user-is-owner': '',
			'user-is-participant': '',
			'region': '',
			'return': '',
			'status': '',
		}
	}

	$('.remaining-seats').each(function(){
		var remainingSeats = $(this).data('seats') - $(this).data('rider-count')
		if (remainingSeats == 0) remainingSeats = "Complet"
		$(this).text(remainingSeats)
	})
	
	$('.ride').each(function(){
		rideshareStore.regions.push($(this).data('region'))
	})
	
	
	if (rideshareStore.regions) {
		rideshareStore.regions = $.uniqueSort(rideshareStore.regions).sort()
		$('#region-filters').append(
			'<button type="button" data-filter-region="" class="btn btn-sm btn-outline-primary active region-filter">Toute la France</button> '
		)
		$.each($.uniqueSort(rideshareStore.regions), function(i, region) {
			$('#region-filters').append(
				'<button type="button" data-filter-region="' + region + '" class="btn btn-sm btn-outline-primary region-filter">' + region + '</button> '
			)
		})
	}
	
	$('.region-filter').click(function(){
		$('.region-filter').removeClass('active')
		$(this).addClass('active')
		rideshareStore.filters.region = $(this).data('filter-region')
		filterRides()
	})

	$('.return-filter').click(function(){
		$('.return-filter').removeClass('active')
		$(this).addClass('active')
		rideshareStore.filters.return = $(this).data('filter-return')
		filterRides()
	})

	$('.ownership-filter').click(function(){
		$('.ownership-filter').removeClass('active')
		$(this).addClass('active')
		rideshareStore.filters['user-is-owner'] = ""
		rideshareStore.filters['user-is-participant'] = ""
		rideshareStore.filters[$(this).data('filter-ownership')] = true
		filterRides()
	})
	
	function filterRides() {
		$('.ride').hide() // Hide all rides
		$('.no-rides-alert').hide()
		var selectors = ''
			filters = rideshareStore.filters
		if (filters['user-is-owner']) selectors += '[data-user-is-owner="true"]'
		if (filters['user-is-participant']) selectors += '[data-user-is-participant="true"]'
		if (filters['region'] != '') selectors += '[data-region="' + filters['region'] + '"]'
		if (filters['return'] != '') selectors += '[data-return="' + filters['return'] + '"]'
		var rides = $('.ride' + selectors)
		if (rides.length==0) { // if there are no rides, show alert 
			$('.no-rides-alert').fadeIn()
		} else { // otherwise, show the filtered rides
			$('.ride' + selectors).fadeIn()
		}

	}

})

</script>

{% endblock scripts %}