{% extends "base.html" %}
{% load staticfiles %}



{% block content %}{{ block.super }}

<div class="
	col-xl-6 offset-xl-3
	col-lg-8 offset-lg-2
	col-md-10 offset-md-1
	col-sm-12
	" style="margin-top: 2em">

<div class="card">
	<div class="card-header">
		<h1 class="text-primary">Nouveau trajet</h1>
		<h2 class="text-muted">{{ event.name }}</h2>
	</div>
	<div class="card-block">
		<form id="create-new-ride" action="" method="post" data-stops="0">
			{% csrf_token %}
			<div class="form-group row">
				<label for="id_return" class="col-xs-12 col-form-label">
					Vous souhaitez proposer un :
				</label>
				<div class="col-xs-12">
<!--					<label class="custom-control custom-radio" for="id_return_1">
						<input type="radio" value="go-and-return" class="custom-control-input" id="id_return_1" name="ride_type" required checked/>
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Aller retour</span>
					</label>
-->					<label class="custom-control custom-radio" for="id_return_2">
						<input type="radio" value="just-go" class="custom-control-input" id="id_return_2" name="ride_type" required/>
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Aller</span>
					</label>
					<label class="custom-control custom-radio" for="id_return_3">
						<input type="radio" value="just-return" class="custom-control-input" id="id_return_3" name="ride_type" required/>
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Retour</span>
					</label>
				</div>
			</div>
			<hr/>
			<div class="form-group row">
				<label for="id_seats" class="col-xs-8 col-form-label">
					Quelle est la <strong>capacité totale</strong> du véhicule ?
				</label>
				<div class="col-xs-4">
					<div class="input-group">
						<input type="text" class="form-control" id="id_seats" name="seats" placeholder="ex: 5" required/>
						<label for="id_seats" class="input-group-addon">💺</label>
					</div>
				</div>
				<div class="col-xs-12">
					<small class="form-text text-muted">
						Vous pourrez indiquer la disponibilité des places dans l'étape suivante.
					</small>
				</div>
			</div>
			<div id="ride_stops_container">
				<button id="remove_stop" type="button" class="btn btn-warning btn-block btn-sm" style="display: none;">
					<i class="fa fa-times"></i> Supprimer cet arrêt
				</button>
<!--				<button id="add_stop" type="button" class="btn btn-info btn-block btn-sm">
					<i class="fa fa-plus"></i> Ajouter un autre arrêt
				</button> TODO : enable
-->			</div>
			<hr/>
			<div class="form-group row">
				<label for="id_price" class="col-xs-8 col-form-label"><strong>Prix</strong> par participant</label>
				<div class="col-xs-4">
					<div class="input-group">
						<input type="text" class="form-control" id="id_price" name="price" placeholder="ex: 30" required>
						<label for="id_price" class="input-group-addon">€</label>
					</div>
				</div>
			</div>
			<!-- TODO : verify phone number -->
			<input id="stop-counter" name="number_of_stops" type="hidden" value="0"/>
			<input name="event_id" type="hidden" value="{{ event.pk }}"/>
			<button type="submit" class="btn btn-primary btn-block">Créer</button>
		</form>
	</div>
</div>

</div>

<style>
	
.input-group-addon { min-width: 2.5em; }
/* normalizes the icon boxes next to inputs */

.geocode-selectors {  }
.geocode-selector { line-height: 1.15; text-align: left; margin-top: .15em !important; }


</style>

{% endblock content %}



{% block scripts %} {{ block.super }}

<!-- Enable bootstrap datepickers -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>

<script>

window.rideshareStore = {
	'stops': 0,
}

function fieldValidationFeedback($inputField, validationStatus, feedbackText) {
	$inputField.removeClass('form-group-success form-group-warning form-group-error')
	$formGroup = $inputField.closest('.form-group')
	$formGroup.removeClass('has-success has-warning has-error')

	if (validationStatus == "success" || validationStatus == "warning" || validationStatus == "error" ) {
		$inputField.addClass('form-group-' + validationStatus)
		$formGroup.addClass('has-' + validationStatus)
	} else if (validationStatus == "clear") {
		// do nothing
	} else {
		console.error('The fieldValidationFeedback function was passed a wrong validation status : "' + validationStatus + '"')
	}
}

$('form').on('submit', function(e){
//	e.preventDefault()
//	$requiredFields = $('input[required]')
//	console.log($requiredFields)
})

function requestGeocode(searchText, $inputField) {
	$stopWrapper = $inputField.closest('.stop-wrapper')
	geocodeIcon('default', $stopWrapper)
	if (!navigator.onLine) {
		// Checks if user is connected to internet before sending request
		createAlert('danger', $stopWrapper, "Vous n'êtes pas connecté à internet", 'geocode-fail', true)	
	} else if (searchText) {
		// Only runs the geocode query if user has actually inputted text
		geocodeIcon('spin', $stopWrapper)
		var geocode_api_key = "AIzaSyDSVS9hlR8hSy_Ddig3WaH55BJTJRFLXCw"
			$geocodeSelectors = $inputField.closest('.form-group').find('.geocode-selectors')
			searchText = encodeURI(searchText + ', France')
			geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + searchText +
				"&key=" + geocode_api_key +
				"&language=fr&region=fr&bounds=51.09,9.56|41.34,-5.14"
		$.ajax({url:geocode_url}).done(function(response){
			var html = ""
			$.each(response.results, function(i, place) {
				if (place.formatted_address !== "France" ) {
					var region = get_address_component_by_type(place.address_components, 'administrative_area_level_1')
						locality = get_address_component_by_type(place.address_components, 'locality') 
					html +=
						'<button \
							type="button" \
							class="geocode-selector btn btn-block btn-secondary btn-sm" \
							data-latitude="' + place.geometry.location.lat + '" \
							data-longitude="' + place.geometry.location.lng + '" \
							data-precision="' + place.geometry.location_type + '" \
							data-region="' + region + '" \
							data-locality="' + locality + '" \
							data-name="' + place.formatted_address + '">' +
							place.formatted_address +
						'</button>'
				}
			})
			$geocodeSelectors.html(html)
			enableGeocodeSelectors()
			geocodeIcon('default', $stopWrapper)
			// TODO : suggest based on $('#id_return_3:checked')
		}).fail(function(response){
			createAlert('danger', $stopWrapper, "Une erreur est survenue. Êtes-vous bien connecté à internet ?", 'geocode-fail', true)
			geocodeIcon('default', $stopWrapper)
		})
	}
}

function get_address_component_by_type(address_components, type) {
	// "locality", "administrative_area_level_1", ...
	var result = ""
	if (address_components) {
		$.each(address_components, function(i, address_component){
			if (address_component.types.indexOf(type) > -1) {
				result = address_component.long_name
			}
		})		
	}
	return result
}

function enableGeocodeSelectors() {
	$('.geocode-selector').click(function(){
		$geocodeSelector = $(this)
		$stopWrapper = $geocodeSelector.closest('.stop-wrapper') 
		$inputField = $stopWrapper.find('.geocode-seeker')
		$inputField.val($geocodeSelector.data("name"))
		$stopWrapper.find('.hidden-stop-name').val($geocodeSelector.data("name"))
		$stopWrapper.find('.hidden-stop-latitude').val($geocodeSelector.data("latitude"))
		$stopWrapper.find('.hidden-stop-longitude').val($geocodeSelector.data("longitude"))
		$stopWrapper.find('.hidden-stop-precision').val($geocodeSelector.data("precision"))
		$stopWrapper.find('.hidden-stop-region').val($geocodeSelector.data("region"))
		$stopWrapper.find('.hidden-stop-locality').val($geocodeSelector.data("locality"))
		fieldValidationFeedback($inputField, "success")
		$('.geocode-selectors').empty()
	})
}

function geocodeIcon(command, $stopWrapper) {
	if (command == "default") {
		$stopWrapper.find('.stop-icon').removeClass('fa-refresh fa-spin').addClass('fa-map-marker')
	} else if (command == "spin") {
		$stopWrapper.find('.stop-icon').removeClass('fa-map-marker').addClass('fa-refresh fa-spin')
	} else {
		console.error('geocodeIcon received a bad command, should be "spin" or "default"')
	}
}

function createAlert(level, $location, content, identifier, unique) {

	if (level=='success' || level=='info' || level=='warning' || level=='danger') 
		{ var level_is_ok = true } else { var level_is_ok = false }

	if (level_is_ok) {
		if (unique) $('[data-alert-identifier="' + identifier + '"]').remove() // Clears unique messages
		var alertClasses = 'class="col-xs-12 alert alert-' + level + ' alert-dismissible fade in"'
			alertIdentifier = 'data-alert-identifier="' + identifier + '"'
		$location.prepend(
		   '<div ' + alertClasses + ' ' + alertIdentifier + ' role="alert">\
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
					<span aria-hidden="true"><i class="fa fa-times"></i></span>\
				</button>' +
				content +
		   '</div>'
		)
	} else {
		console.error('An error message was created with the wrong level "' + level + '" with the createAlert function.')
	}
}

function enableGeocodeLookup() {
	var $geocodeSeeker = $('input.geocode-seeker')
	$geocodeSeeker.keydown(disableSubmit)
	$geocodeSeeker.keyup(disableSubmit, lookupGeocode)
	$geocodeSeeker.change(fieldValidationFeedback($geocodeSeeker, "clear"))
}	

function disableSubmit(e) {
	// prevent a wrong enter from sending the form
	var keyCode = e.keyCode || e.which
	if (keyCode === 13) { // key code for "enter"
		e.preventDefault();
	}
}

function lookupGeocode(e) {
	var keyCode = e.keyCode || e.which
	if (keyCode !== 9) { // don't seek if the key was a tab
		var $inputField = $(this)
			searchText = $inputField.val()
			window.$inputField = $inputField
		fieldValidationFeedback($inputField, "clear")
		delay(function(){
			requestGeocode(searchText, $inputField)
		}, 250 )
	}
}

// When looking for places from the input field, we send ajax requests
// This prevents us from sending too many requests, by waiting 500ms after each keyup
var delay = (function(){
	var timer = 0;
	return function(callback, ms){
		clearTimeout (timer);
		timer = setTimeout(callback, ms);
	};
})();



// Create the form blocks to manage origin and destination input
$('#ride_stops_container').prepend(generateStopFormBlock('origin'))
$('#ride_stops_container').append(generateStopFormBlock('destination'))
enableGeocodeLookup()

// Some rides have more than an origin and destination
// The "add_stop" button allows users to set additional stops
$('button#add_stop').click(function(){
	$('#remove_stop').before(generateStopFormBlock('stop'))
	enableGeocodeLookup()
	$('#remove_stop').show()
})

$('button#remove_stop').click(function(){
	var wrapper = $('#wrapper_stop' + rideshareStore.stops).remove()
	rideshareStore.stops -= 1
	if (rideshareStore.stops == 0) {
		$('#remove_stop').hide()
	}
})

function generateStopFormBlock(id) {

	var place_name = "Rennes, France"
		place_latitude = "0.000000"
		place_longitude = "0.000000"
		place_precision = "NO_PLACE"
		place_region = "NO_REGION"
		place_locality = "NO_LOCALITY"
		place_label = "<strong>Arrêt</strong> à"
		date = datify(new Date())
		time = "11:00"

	// TODO : default dates, default place, ...

	if ($('#id_origin_date').val()) date = $('#id_origin_date').val()
	if ($('#id_origin_time').val()) time = $('#id_origin_time').val()

	if (id=='origin') {
		place_name = "Lyon, France"
		place_label = "<strong>Départ</strong> de"
		date = datify(new Date(2017,9,23))
	} else if (id=='destination') {
		place_name = "Guidel-Plages"
		place_label = "<strong>Arrivée</strong> à"
		date = datify(new Date(2017,9,23))
	} else if (id=='stop') {
		rideshareStore.stops += 1
		id = id + rideshareStore.stops // "stop1"
		$('#stop-counter').val(rideshareStore.stops) // sends number of stops with form
	}

	return html = 
	   '<div id="wrapper_' + id + '" class="stop-wrapper"><hr/>\
		<div class="form-group row">\
			<label for="id_' + id + '_place" class="col-xs-4 col-form-label">' + place_label + '</label>\
			<div class="col-xs-8">\
				<div class="input-group">\
					<input id="id_' + id + '_place" name="' + id + '_place" type="text" class="form-control geocode-seeker" required \
						value="' + "" + '" placeholder="ex: ' + place_name + '" autocomplete="off"/>\
					<label for="id_' + id + '_place" class="input-group-addon"><i class="stop-icon fa fa-map-marker"></i></label>\
				</div>\
				<div class="geocode-selectors"></div>\
				<input type="text" id="id_' + id + '_place_name" name="' + id + '_place_name" \
					class="hidden-stop-name" value="' + place_name + '" />\
				<input type="text" id="id_' + id + '_place_latitude" name="' + id + '_place_latitude" \
					class="hidden-stop-latitude" value="' + place_latitude + '" />\
				<input type="text" id="id_' + id + '_place_longitude" name="' + id + '_place_longitude" \
					class="hidden-stop-longitude" value="' + place_longitude + '" />\
				<input type="text" id="id_' + id + '_place_precision" name="' + id + '_place_precision" \
					class="hidden-stop-precision" value="' + place_precision + '" />\
				<input type="text" id="id_' + id + '_place_region" name="' + id + '_place_region" \
					class="hidden-stop-region" value="' + place_region + '" />\
				<input type="text" id="id_' + id + '_place_locality" name="' + id + '_place_locality" \
					class="hidden-stop-locality" value="' + place_locality + '" />\				<div class="col-xs-12">\
					<small class="form-text text-muted">\
						Indiquez une adresse précise !\
					</small>\
				</div>\
			</div>\
		</div>\
		<div class="form-group row">\
			<label for="id_' + id + '_date" class="col-xs-4 col-form-label">le</label>\
			<div class="col-xs-8">\
				<div class="input-group">\
					<input id="id_' + id + '_date" name="' + id + '_date" class="form-control stop_date" \
						 value="' + date + '" placeholder="' + date + '" required/>\
					<label for="id_' + id + '_date" class="input-group-addon"><i class="fa fa-calendar"></i></label>\
				</div>\
			</div>\
		</div>\
		<div class="form-group row">\
			<label for="id_' + id + '_time" class="col-xs-4 col-form-label">à</label>\
			<div class="col-xs-8">\
				<div class="input-group">\
					<input id="id_' + id + '_time" name="' + id + '_time" type="text" class="form-control stop_time" \
						value="' + time + '" placeholder="' + time + '" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" required/>\
					<label for="id_' + id + '_time" class="input-group-addon"><i class="fa fa-clock-o"></i></label>\
				</div>\
			</div>\
		</div>\
		</div>'
}

$('#id_origin_date').change(function(){
	$originDate = $(this).val()
	$('.stop_date').each(function(){
		if ($(this).val()=="") $(this).val($originDate)
	})
})

$('#id_origin_time').change(function(){
	$originTime = $(this).val()
	$('.stop_time').each(function(){
		if ($(this).val()=="") $(this).val($originTime)
	})
})

$('#id_return_2').click(function(){
	fillWithEventDetails('start', 'destination')
})
$('#id_return_3').click(function(){
	fillWithEventDetails('end', 'origin')
})

function fillWithEventDetails(when, where) {
	$('#id_' + where + '_place').val('{{ event.location.name }}')
	$('#id_' + where + '_place_name').val('{{ event.location.name }}')
	$('#id_' + where + '_place_latitude').val({{ event.location.latitude }})
	$('#id_' + where + '_place_longitude').val({{ event.location.longitude }})
	$('#id_' + where + '_place_precision').val('{{ event.location.precision }}')
	$('#id_' + where + '_place_region').val('{{ event.location.region }}')
	$('#id_' + where + '_place_locality').val('{{ event.location.locality }}')
	if (when=='start') {
		var time = '{{ event.start_date|time:"H:i" }}'
			date = '{{ event.start_date|date:"d/m/Y" }}'
	} else if (when=='end') {
		var time = '{{ event.end_date|time:"H:i" }}'
			date = '{{ event.end_date|date:"d/m/Y" }}'
	}
	$('#id_' + where + '_time').val(time)
	$('.stop_date').val(date)
	fieldValidationFeedback($('.geocode-seeker'), "clear")
	fieldValidationFeedback($('#id_' + where + '_place'), "success")
}

// TODO : on click, get google geocode results again

//	$('form#create-new-ride')


/*

switch (new Date().getDay()) {
    case 0:
        day = "OK";
        break;
    case 1:
        day = "ZERO_RESULTS";
        break;
    case 2:
        day = "OVER_QUERY_LIMIT";
        break;
    case 3:
        day = "REQUEST_DENIED";
        break;
    case 4:
        day = "INVALID_REQUEST";
        break;
    case 5:
        day = "UNKNOWN_ERROR";
}

TODO : manage all these cases
"OK" indicates that no errors occurred; the address was successfully parsed and at least one geocode was returned.
"ZERO_RESULTS" indicates that the geocode was successful but returned no results. This may occur if the geocoder was passed a non-existent address.
"OVER_QUERY_LIMIT" indicates that you are over your quota.
"REQUEST_DENIED" indicates that your request was denied.
"INVALID_REQUEST" generally indicates that the query (address, components or latlng) is missing.
"UNKNOWN_ERROR" indicates that the request could not be processed due to a server error. The request may succeed if you try again.

*/

function datify(date) {
	var ymd = date.toJSON().slice(0,10).split('-')
		y = ymd[0]
		m = ymd[1]
		d = ymd[2]
	return( d + '/' + m + '/' + y ) // Ex : 21/03/2016
}

$(function() {
	$('.stop_date').datepicker({language: 'fr'})
})

</script>

{% endblock scripts %}