{% extends "base.html" %}
{% load staticfiles %}

{% block content %}{{ block.super }}

<div class="col-sm-12" style="margin-top: 1em">

<a class="pull-right btn btn-secondary" href="{% url 'create_new_ride' event.slug %}">
	<i class="fa fa-plus"></i> Proposer un nouveau trajet
	</a>
<h1 class="page-title">{{ event.name }}</h1>

<hr class="clearfix" />

{% for object in object_list %}

<div class="ride card">

	<div class="card-header">
		<span class="ride__remaining-seats">
			{% if object.rider__count == object.seats %}
			<span class="text-muted">Complet</span>
			{% else %}
			Places disponibles : <strong>{{ object.remaining_seats }}</strong> / {{ object.seats }}
			{% endif %}
		</span>
		Départ le <strong>{{ object.departure_datetime|date:"l d F" }}</strong>
		{% if object.departure_date|date != object.arrival_date|date %}
		, arrivée le <strong>{{ object.arrival_datetime|date:"l d F" }}, </strong>
		{% endif %}
		avec {{ object.owner.first_name }} {{ object.owner.last_name }}
	</div>

	<div class="card-block">
		<div class="ride__stops">
		{% for stop in object.stop_set.all %}
			<div class="ride__stop">
				<span class="ride__stop__pin"><i class="fa fa-dot-circle-o"></i> </span>
				<span class="ride__stop__time">{{ stop.time|time:"H:i" }}</span>
				<span class="ride__stop__location">{{ stop.location.name }}</span>
			</div>
		{% endfor %}
		</div>
		<div class="ride__interactions">
			<div class="ride__price">{{ object.price }} €</div>
			{% if object.rider__count >= object.seats %}
			<span class="ride__join btn btn-secondary">Complet</span>
			{% else %}
			<a class="ride__join btn btn-primary" data-url="{% url 'request_to_join_ride' object.pk %}" href="#join"> 
				<i class="fa fa-sign-in"></i> Demander à rejoindre
			</a>
			{% endif %}
		</div>
	</div>


</div>

{% endfor %}



{% if not object_list %}
<p>Il n'y a pas encore de trajets sur cet évènement.</p>
{% endif %}

</div>

<style>

.page-title { display: inline; }

.ride__remaining-seats { float: right; margin-left: 1em; }

.ride__stops { display: table; float: left; }
.ride__stop { display: table-row; }
.ride__stop > span { display: table-cell; padding: 0 1em; }

.ride__interactions { float: right; }
.ride__price { font-size: 1.6em; text-align: right; margin-bottom: .25em; }

</style>

{% endblock content %}



{% block scripts %} {{ block.super }}

<script>

function $call(url) {
	$.ajax({url: url})
}

function displayLoadingState($element) {
	$element.html('<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Chargement...')
}

$('.ride__join').click(function(){
	var $this = $(this)
		request_join_url = $this.attr('data-url')
	displayLoadingState($this)
	$.ajax({url: request_join_url}).done(function(result) {
		if (result.requestSuccessful) {
			$this.addClass('btn-success')
			$this.html("<i class='fa fa-check'></i> C'est tout bon !")
		} else {
			$this.addClass('btn-error')
			$this.html("<i class='fa fa-check'></i> Ça n'a pas marché :(")

		}
	})
})

</script>

{% endblock scripts %}