{% extends "base.html" %}
{% load staticfiles %}

{% block content %}{{ block.super }}

<div class="
	col-xl-6 offset-xl-3
	col-lg-8 offset-lg-2
	col-md-10 offset-md-1
	col-sm-12
	" style="margin-top: 2em">

<!-- HEADER -->

<div style="text-align: left;">

	<a class="btn btn-secondary" href="{% url 'rideshare_ride_list' ride.event.slug %}">
		<i class="fa fa-arrow-left"></i> Retour à la liste
		</a> 
	
</div>

<hr/>
<!-- CONTENT -->

<div style="text-align: left;">
	<h1 class="page-title">Détail du trajet</h1>
	<p><strong>Prix par participant :</strong> {{ object.price }} €</p>
	<p><strong>Places disponibles :</strong>
		<span class="remaining-seats"
			data-rider-count="{{ object.rider_set.all.count }}"
			data-seats="{{object.seats}}"></span> / {{ object.seats }}
	</p>
	<p><strong>Géré par :</strong>
		{% if object.owner == user %}moi
		{% else %}{{ object.owner.first_name }} {{ object.owner.last_name }}
		{% endif %}
	</p>
	<p><strong>Tel :</strong> {{ ride.phone }}</p>	
	{% if ride.message %}
	<p><strong>Message du covoitureur :</strong><br/>
		<em>{{ ride.message }}</em>
	</p>
	{% elif user == ride.owner %}
	<p class="text-muted"><em>Vous n'avez pas écrit de message à l'attention des participants</em></p>
	{% endif %}
	
	{% if user == ride.owner or user.is_staff %}
	<p>
		{% if user == ride.owner %}
		<a class="btn btn-secondary" href="{% url 'rideshare_ride_update' object.pk %}"><i class="fa fa-cog"></i> Modifier</a>
		{% endif %}
		{% if user.is_staff %}
		<a class="btn btn-secondary" href="/arriere-boutique/rideshare/ride/{{ object.pk }}"><i class="fa fa-wrench"></i> Administrer</a>
		{% endif %}
	</p>
	{% endif %}	
</div>

<hr/>

{% if user not in users_who_are_riders and user != object.owner %}
<div class="ride__interactions">
	<a class="ride__join btn btn-primary btn-block" href="{% url 'rideshare_join_ride' object.pk %}">
		<i class="fa fa-arrow-circle-right"></i>&nbsp;
		{% if object.rider_set.all.count >= object.seats %}Je m'ajoute à la liste d'attente
		{% else %}Je souhaite participer à ce trajet
		{% endif %}
	</a>
</div>
{% endif %}

<br/>

<!-- {% if user in object.riders.all %}"true"{% else %}"false"{% endif %} -->

<div class="ride__stops">
{% for stop in object.stop_set.all %}
	<div class="ride__stop">
		<div class="card card-block">
			<div class="ride__stop__locality">{{ stop.location.locality }}</div>
			{% if stop.location.locality != stop.location.name %}
			<div class="ride__stop__name text-muted">{{ stop.location.name }}</div>
			{% endif %}
			<div class="ride__stop__datetime">{{ stop.time|date:"l d F" }} à {{ stop.time|time:"H:i" }}</div>
		</div>
	</div>
{% endfor %}
</div>

{% if object.rider_set.all %}
<hr/>
<div>
	<h4 style="text-align: left;">Participants :</h4>
	
	{% for rider in object.rider_set.all %}
		<div class="rider card card-inverse
			{% if not rider.accepted %} card-warning
			{% else %} card-primary{% endif %}">
			<div class="card-block card-text">
				<div class="card-title rider__name">
					{% if rider.user %}{{ rider.user.first_name }} {{ rider.user.last_name }}
					{% else %}{{ rider.name }}{% endif %}
				</div>
				{% if user == ride.owner %}
				<div class="rider__email">{{ rider.email }}</div>
				<div class="rider__phone">{{ rider.phone }}</div>
				{% if rider.message %}
					</div>
					<div class="card-footer card-text">
					<div class="rider__message">{{ rider.message }}</div>
				{% endif %}
				{% elif not rider.accepted %}
					<div>En attente de confirmation</div>
				{% endif %}
			</div>
			{% if rider.accepted and user == ride.owner %}
			<div class="card-footer" style="text-align: right;">
				<small class="rider__edit">
					<a class="card-text" href="{% url 'rideshare_rider_delete' rider.pk %}">
						<i class="fa fa-trash-o"></i> Supprimer ce participant
					</a>
				</small>
			</div>
			{% elif user == ride.owner %}
			<div class="card-footer">
				{% if user == ride.owner %}
				<div class="card-text">
					<a class="btn btn-success btn-sm" href="{% url 'rideshare_rider_accept' rider.pk %}">
					<i class="fa fa-check"></i> Accepter
					</a>
					&nbsp;
					<a class="btn btn-danger btn-sm" href="{% url 'rideshare_rider_deny' rider.pk %}">
					<i class="fa fa-times"></i> Refuser
					</a>
				</div>
				{% endif%}
			</div>
			{% endif %}
		</div>
	{% endfor %}
</div>
{% endif %}

</div>

<style>

body { text-align: center; margin-bottom: 2em; }

.ride__stop > span { display: table-cell; padding: 0 1em; }

.ride__stop:not(:first-child):before { content: '\f063'; font-family: FontAwesome; font-size: 2em; position: relative; top: -.15em; }

.ride__price { font-size: 1.6em; margin-bottom: .25em; }

.ride__stop__locality { font-size: 1.8em; }
.ride__stop__name { font-style: italic; }

.rider { text-align: left; }
.rider__name { display: block; font-weight: bold; color: white; }
.rider__email:before { content: '\f0e0'; font-family: "FontAwesome"; margin-right: .5em; }
.rider__phone:before { content: '\f095'; font-family: "FontAwesome"; margin-right: .5em; }
.rider__message

.card-warning .rider__edit { display: none; }

</style>

{% endblock content %}



{% block scripts %} {{ block.super }}

<script>

$( document ).ready(function() {
		
	window.rideshareStore = {
	//	'regions': [],
	}

	function $call(url) {
		return $.ajax({url: url})
	}

	$('.remaining-seats').each(function(){
		var remainingSeats = $(this).data('seats') - $(this).data('rider-count')
		if (remainingSeats == 0) remainingSeats = "Complet"
		$(this).text(remainingSeats)
	})

})

</script>

{% endblock scripts %}