{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<form class="col-sm-8 col-md-6 col-lg-4" style="margin:auto; float: none;" action="" method="post" enctype="multipart/form-data">
	<h1>Authentification</h1>
	<hr>
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="form-group">
		<label class="control-label" for="id_username">Email</label>
		<input autofocus="" class="form-control" id="id_username" maxlength="254" name="username" placeholder="Email" title="" type="text" required="">
		{{ form.username.errors }}
	</div>
	<div class="form-group">
		<label class="control-label" for="id_password">Mot de passe</label>
		<input class="form-control" id="id_password" name="password" placeholder="Mot de passe" title="" type="password" required="">
		{{ form.password.errors }}
	</div>
	<input type="hidden" name="next" value="{{ next }}" />
	<hr>
	{% buttons %}
		<button type="submit" class="btn btn-primary btn-block">
			{% bootstrap_icon "ok" %} Se connecter
		</button>
	{% endbuttons %}
		<p style="text-align: center; font-size: .8em;"><a href="{% url 'register' %}">Créer un compte</a></p>
		<p style="text-align: center; font-size: .8em;"><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>
</form>

{% endblock %}
