{% extends "meta.html" %}
{% load static %}



{% if page_title %}{% block title %}{{ page_title }} - {% endblock title %}{% endif %}



{% block head %}{{ block.super }}

{% endblock head %}



{% block header %}

{% endblock header %}



{% block content %}

	<!-- Main content displayed here -->

{% endblock content %}



{% block footer %}

	<div class="container small text-muted" style="text-align: center; margin: 3rem auto;">
	<p>
		Plateforme mise à disposition par
		<a target="_blank" href="http://m.me/antoningrele">Antonin Grêlé</a> et les
		<a target="_blank" href="http://jeunes-democrates.org">Jeunes Démocrates</a>.
	</p>
	<p>
		En cas de problème, contactez-nous : <a href="mailto:contact@jeunes-democrates.org?subject=Problème sur le site de covoiturage">contact@jeunes-democrates.org</a>
		</p>
	<div>

{% endblock footer %}



{% block scripts %} {{ block.super }}

{% comment %} <script src="{% get_static_prefix %}js/notifications.js"></script> {% endcomment %} 

{% endblock scripts %}