{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<!--<link rel="shortcut icon" href="{% get_static_prefix %}images/favicon.ico" type="image/x-icon" />-->

	<title>{% block title %}{% endblock title %}Covoiturage</title>

	{% block head %}{% endblock head %}

</head>

<body style="background-color: #fafafa">

<header>
	{% block header %}{% endblock header %}
</header>

<div id="main-container" class="container main-container" >
	{% block messages %}{% if messages %}<div class="col-sm-12">{% include "messages.html" %}</div>{% endif %}{% endblock messages %}
	{% block content %}{% endblock content %}
</div>

<footer class="endpage">
	{% block footer %}{% endblock footer %}
</footer>	

	
{% block scripts %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
	<script>
		$('.alert').alert() // enable bootstrap 4 alert dismissal
	</script>

{% endblock scripts %}

</body>

</html>